<div class="example-container mat-elevation-z8" *ngIf="dataSource.data.length " >

  <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;" > 

<!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

<!-- idObjeto -->

<!-- Nombre -->
<ng-container matColumnDef="fecha">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
  <mat-cell  *matCellDef="let element">
        <span class="mobile-label">Fecha: </span>
       {{convertDate(element.fecha)}}
      </mat-cell>
</ng-container>

<!-- descripcion  -->
<ng-container matColumnDef="descripcion">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
    <mat-cell *matCellDef="let element">
        <span class="mobile-label">Descripcion:</span>
        {{element.descripcion}} 
    </mat-cell>
</ng-container>

   <!-- Estatus -->
   <ng-container matColumnDef="pais">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pais </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Pais:</span>
        {{element.pais}} 
      
      </mat-cell>
    </ng-container>

         <!-- Estatus -->
   <ng-container matColumnDef="latitud">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Latitud</mat-header-cell>
      <mat-cell *matCellDef="let element">
          <span class="mobile-label">Latitud:</span>
         {{element.latitud}}
        </mat-cell>
    </ng-container>

         <!-- Estatus -->
   <ng-container matColumnDef="longitud">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Longitud </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Longitud:</span>
        {{element.longitud}}
        </mat-cell>
    </ng-container>

               <!-- Estatus -->
   <ng-container matColumnDef="estatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus</mat-header-cell>
      <mat-cell *matCellDef="let element">
          <span class="mobile-label">Estatus:</span>
         {{element.estatus}}
            </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row> 
  </mat-table>

</div>
<div id="map">
    <ng-container>
        <agm-map  [latitude]="ConvertString(latitude)" [longitude]="ConvertString(longitude)" [zoom]="zoom">
           <agm-marker [latitude]="ConvertString(latitude)" [longitude]="ConvertString(longitude)"></agm-marker>
        </agm-map>
    </ng-container>
</div>

