
<br><br><br><br><br>
<div class="example-container"  >
    <mat-toolbar >
        <div >
          <h2>Editar Parametro</h2>
          </div>
      </mat-toolbar>
      <mat-card >
          <mat-card-content>
        <form *ngIf="form"  [formGroup]="formEditParametro" >
            <br>
            <mat-form-field>
               <input matInput placeholder="Codigo" type="codigo" formControlName="codigo"  name="codigo" class="form-control" id="codigo">
            </mat-form-field>
            <br>
            <mat-form-field>
                <textarea matInput placeholder="Valor" type="valor" formControlName="valor"  name="valor" class="form-control" id="valor"></textarea>
             </mat-form-field>
             <br>
             <mat-form-field>
               <mat-select placeholder="Estatus" type="status" formControlName="status"  name="status" class="form-control" id="status" >
                    <mat-option *ngFor="let stat of status" [value]="stat">
                        {{stat}}
                      </mat-option>
                  </mat-select>
             </mat-form-field>
           <br>
           <td>
               <mat-form-field>
                   <input matInput [matDatepicker]="picker" readonly placeholder="Fecha Actualizacion" type="fecActualizacion" formControlName="fecActualizacion"  name="fecActualizacion" class="form-control" id="fecActualizacion">
                   <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                   <mat-datepicker #picker></mat-datepicker>
                 </mat-form-field>
           </td>
             <mat-card-actions >
                 <button mat-raised-button (click)="onSubmit()" color="theme">Guardar</button>
                  &nbsp;
                 <button mat-raised-button (click)="cancel()" color="theme">Cancelar</button>
             </mat-card-actions>
             </form>
            </mat-card-content>
    </mat-card>
  </div>