
<br><br><br><br><br>
<mat-toolbar >
    <div >
      <h2>Lista de Objetos</h2>
      </div>
  </mat-toolbar>
  &nbsp;&nbsp;<mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda">
    </mat-form-field>
<div class="example-container mat-elevation-z8"    *ngIf="dataSource.data.length > 0 else noData" >

       
      <mat-table   [dataSource]="dataSource" [class.isMobile]="isMobile" matSort class="mat-elevation-z8"  > 

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- idObjeto -->
  <ng-container matColumnDef="idObjeto">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Identificador </mat-header-cell>
        <mat-cell  *matCellDef="let element"> 
            <span class="mobile-label">Id:</span>
          {{element.idObjeto}}  </mat-cell>
  </ng-container>
  <!-- Nombre -->
  <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
    <mat-cell  *matCellDef="let element"> 
        <span class="mobile-label">Nombre:</span>
      {{element.nombre}} </mat-cell>
  </ng-container>

  <!-- descripcion  -->
  <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
    <mat-cell  *matCellDef="let element"> 
        <span class="mobile-label">Descripcion:</span>
      {{element.descripcion}}</mat-cell>
  </ng-container>

  <!-- Serie -->
  <ng-container matColumnDef="serie">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Serie </mat-header-cell>
    <mat-cell  *matCellDef="let element"> 
        <span class="mobile-label">Serie:</span>
      {{element.serie}} </mat-cell>
  </ng-container>

  <!-- Fecha de Alta -->
  <ng-container matColumnDef="fecAlta">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Alta </mat-header-cell>
    <mat-cell  *matCellDef="let element"> 
        <span class="mobile-label">Alta:</span>
      {{element.fecAlta}} </mat-cell>
  </ng-container>

   <!--  Fecha de actualizacion -->
  <ng-container matColumnDef="fecActualizacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de actualizacion </mat-header-cell>
    <mat-cell  *matCellDef="let element"> 
        <span class="mobile-label">Actualizacion: </span>
      {{element.fecActualizacion}} </mat-cell>
  </ng-container>

     <!-- Estatus -->
     <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus: </mat-header-cell>
        <mat-cell  *matCellDef="let element"> 
            <span class="mobile-label">Estatus:</span>
          {{element.status}} </mat-cell>
      </ng-container>

   <!-- Acciones -->
  <ng-container  matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> <br>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row" style="white-space: nowrap">  
            <span class="mobile-label">Acciones:</span>
          <button *ngIf="perfil == 'Administrador'" mat-icon-button (click)="addObjeto()">
            <span matTooltip="Agregar">
            <mat-icon style="color: rgb(128, 128, 128)">assignment</mat-icon>
            </span>
          </button>  
          <button *ngIf="perfil == 'Administrador'" mat-icon-button (click)="editObjeto(row)">
            <span matTooltip="Editar">
              <mat-icon>mode_edit</mat-icon>
            </span>
          </button>  
          <button mat-icon-button (click)="showUbication(row)">
            <span matTooltip="Ver ubicaciones">
              <mat-icon>location_on</mat-icon>
            </span>
          </button>  
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #noData>
    <div class="mat-elevation-z8 noData" >
        <mat-spinner *ngIf="!isLoading" style="margin: auto">
            
        </mat-spinner>
        <div fxLayout fxLayoutAlign="center center" >
        <h2 *ngIf="!isLoading">Cargando Datos...</h2>
      </div>
      <h2 *ngIf="isLoading ">No hay datos que mostrar</h2>
  </div>
</ng-template>