
<br><br><br><br><br>

<div class="example-container"  >
    <mat-toolbar >
        <div >
          <h2>Agregar Objeto</h2>
          </div>
      </mat-toolbar>
      <div fxlayout="column" style="background: white;">
      <mat-card fxFlex style="height: 100%;">
          <mat-card-content>
        <form *ngIf="form"  [formGroup]="formAddObjeto" >
         
            <table class="example-full-width" cellspacing="0"><tr>
                <td>
                  <mat-form-field>
                     <input matInput placeholder="Nombre" type="nombre" formControlName="nombre"  name="nombre" class="form-control" id="nombre">
                  </mat-form-field>
              </td>
          <td>
              <mat-form-field>
                <input matInput placeholder="Descripcion" type="descripcion" formControlName="descripcion"  name="descripcion" class="form-control" id="descripcion">
             </mat-form-field>
          </td>
         
        </tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
           <td>
            <mat-form-field>
              <input matInput placeholder="Serie" type="serie" formControlName="serie"  name="serie" class="form-control" id="serie">
            </mat-form-field>
         </td>
         <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" readonly placeholder="Fecha Alta" type="fecAlta" formControlName="fecAlta"  name="fecAlta" class="form-control" id="fecAlta">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          </tr></table>
          <table class="example-full-width" cellspacing="0"><tr>
              <td>
       
                  <mat-form-field>
                    <mat-select placeholder="Estatus" type="status" formControlName="status"  name="status" class="form-control" id="status" >
                            <mat-option *ngFor="let stat of status" [value]="stat">
                                {{stat}}
                              </mat-option>
                 </mat-select>
                  </mat-form-field>
                  </td>
            <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" readonly placeholder="Fecha Actualizacion" type="fecActualizacion" formControlName="fecActualizacion"  name="fecActualizacion" class="form-control" id="fecActualizacion">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </td>

    
        </tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
            <td>
     
                <mat-form-field>
                  <input matInput placeholder="Placas" type="placas" maxlength="9" minlength="9" formControlName="placas"  name="placas" class="form-control" id="placas">
                </mat-form-field>
            </td>
            <td>
     
                <mat-form-field>
                  
                  <mat-select placeholder="Tipo" type="tipo" formControlName="tipo"  name="tipo" class="form-control" id="tipo">
                
                      <mat-option *ngFor="let tl of tipos"  [value]="tl.idTipo">
                            {{tl.descripcion}}
                          </mat-option>
                  </mat-select>
                </mat-form-field>
            </td>

  
      </tr></table>
      <table class="example-full-width" cellspacing="0"><tr>
          <td>
              <mat-form-field>
          
                <mat-select placeholder="Grupo" type="grupo" formControlName="grupo"  name="grupo" class="form-control" id="grupo">
                        <mat-option *ngFor="let tl of grupos"  [value]="tl.idGrupo">
                                {{tl.descripcion}}
                              </mat-option>
                </mat-select>
              </mat-form-field>
          </td>



    </tr></table>
    <td>
         
            
        <label class="fileContainer">
            <mat-icon style="color: rgb(128, 128, 128)">camera_alt</mat-icon>
            añadir imagen
          <input type="file" (change)="handleFileSelect($event)" accept=".png, .jpg, .jpeg" />
          </label>
  
    </td>
    <br>
    
            <mat-card-actions >
                <button mat-raised-button (click)="onSubmit()" color="theme">Guardar</button>
                 &nbsp;
                <button mat-raised-button (click)="cancel()" color="theme">Cancelar</button>

            </mat-card-actions>
            </form>
           </mat-card-content>
    </mat-card>
  </div>
  