<br><br><br>
<div style="margin-top: 10%;margin-left: 40%; margin-right: 40%">
    <mat-toolbar color="primary" class="main-menu class.mat-elevation-z10">
        <div >
          <h2>Login</h2>
          </div>
      </mat-toolbar>
 <mat-card class="example-card">
   <mat-card-header>
   </mat-card-header>
   <mat-card-content>
     <form class="example-form">
       <table  cellspacing="0">
         <tr>
           <td>
             <mat-form-field >
               
             <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
             </mat-form-field>
           </td>
         </tr>
         <tr>
         <td><mat-form-field >
           <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
         </mat-form-field></td>
       </tr></table>
     </form>
     <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
   </mat-card-content>
   <mat-card-actions style="margin-left: 25%">
     <button mat-raised-button (click)="login()" color="primary">Login</button>
   </mat-card-actions>
 </mat-card>
</div>