.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }


  .form-web {
    display: block;
  }
  .form-mobile {
    display: none;
  }
  
  @media (max-width:600px) {
    .form-web {
      display: none;
    }
    .form-mobile {
      display: block;
    }
  }