
<mat-toolbar  *ngIf="isLoggedIn$ | async"  color="primary" class="main-menu class mat-elevation-z8"  ><i class="material-icons">location_searching</i>&nbsp;Rastreo&nbsp;&nbsp;&nbsp;&nbsp;    
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="False" fxShow.gt-sm fxHide.lt-md="true">
         
      <button *ngIf="perfil == 'Administrador'"  mat-button  routerLink="/app/list-usuario" (click)="checkValue()"><i class="material-icons" >person</i> Usuarios</button>
      <button                                    mat-button  routerLink="/app/objeto"  (click)="checkValue()"><i class="material-icons">directions_car</i> Objeto</button>
      <button  *ngIf="perfil == 'Administrador'" mat-button  routerLink="/app/list-grupo"  (click)="checkValue()"><i class="material-icons">library_books</i> Grupos de Objetos</button>
      <button  *ngIf="perfil == 'Administrador'" mat-button  routerLink="/app/list-tipo"  (click)="checkValue()"><i class="material-icons">category</i> Tipos de Objeto</button>
      <button  *ngIf="perfil == 'Administrador'" mat-button  routerLink="/app/list-parametro"  (click)="checkValue()"><i class="material-icons">settings</i>Parametros</button>
    

      <button  mat-button (click)="onLogout()"><i class="material-icons">power_settings_new</i>Logout</button>
  </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
         Menu <mat-icon>menu</mat-icon>
     </button>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
      <span class="fill-remaining-space"></span>
    <button *ngIf="perfil == 'Administrador'"  mat-button  routerLink="/app/list-usuario" (click)="checkValue()"><i class="material-icons" >person</i> Usuarios</button><br>
      <button                                    mat-button  routerLink="/app/objeto"  (click)="checkValue()"><i class="material-icons">directions_car</i> Objeto</button><br>
      <button  *ngIf="perfil == 'Administrador'" mat-button  routerLink="/app/list-grupo"  (click)="checkValue()"><i class="material-icons">library_books</i> Grupos de Objetos</button><br>
      <button  *ngIf="perfil == 'Administrador'" mat-button  routerLink="/app/list-tipo"  (click)="checkValue()"><i class="material-icons">category</i> Tipos de Objeto</button><br>
      <button  *ngIf="perfil == 'Administrador'" mat-button  routerLink="/app/list-parametro"  (click)="checkValue()"><i class="material-icons">settings</i>Parametros</button><br>
    

      <button  mat-button (click)="onLogout()"><i class="material-icons">power_settings_new</i>Logout</button>
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>