table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .noData {
    text-align: center;
    padding: 10px;
    color: #000000;
  }