<mat-toolbar *ngIf="loged && perfil!=undefined"  color="primary" class="main-menu class mat-elevation-z8"  ><i class="material-icons">location_searching</i>&nbsp;Rastreo&nbsp;&nbsp;&nbsp;&nbsp;    
    <div fxLayout="row"  fxLayoutAlign="end">
        <button *ngIf="perfil == 'Administrador'" mat-button fxFlex="auto" routerLink="/app/list-usuario" (click)="checkValue()"><i class="material-icons" >person</i> Usuarios</button>
        <button  mat-button fxFlex="auto" routerLink="/app/objeto"  (click)="checkValue()"><i class="material-icons">directions_car</i> Objeto</button>
        <button *ngIf="perfil == 'Administrador'" mat-button fxFlex="auto" routerLink="/app/list-grupo"  (click)="checkValue()"><i class="material-icons">library_books</i> Grupos de Objetos</button>
        <button *ngIf="perfil == 'Administrador'" mat-button fxFlex="auto" routerLink="/app/list-tipo"  (click)="checkValue()"><i class="material-icons">category</i> Tipos de Objeto</button>
        <button *ngIf="perfil == 'Administrador'" mat-button fxFlex="auto" routerLink="/app/list-parametro"  (click)="checkValue()"><i class="material-icons">settings</i>Parametros</button>
        <span flex></span>
        <span>
                <button mat-button fxFlex="auto" (click)="logout()"><i class="material-icons">power_settings_new</i>Logout</button>
            </span>
    </div>
</mat-toolbar>

<div class="contenedor" >
    <router-outlet></router-outlet>
</div>