
<br><br><br><br><br>
<div class="example-container"  >
    <mat-toolbar >
        <div >
          <h2>Agregar Parametro</h2>
          </div>
      </mat-toolbar>
      <mat-card >
          <mat-card-content>
        <form *ngIf="form"  [formGroup]="formAddParametro" >
           <br>
           <mat-form-field>
              <input matInput placeholder="Codigo" type="codigo" formControlName="codigo"  name="codigo" class="form-control" id="codigo">
           </mat-form-field>
           <br>
           <mat-form-field>
               <textarea matInput placeholder="Valor" type="valor" formControlName="valor"  name="valor" class="form-control" id="valor"></textarea>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Estatus" type="status" formControlName="status"  name="status" class="form-control" id="status" [matAutocomplete]="autostatus">
              <mat-autocomplete #autostatus="matAutocomplete">
                  <mat-option *ngFor="let stat of status" [value]="stat">
                    {{stat}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
          <br>
          <td>
              <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Fecha Actualizacion" type="fecActualizacion" formControlName="fecActualizacion"  name="fecActualizacion" class="form-control" id="fecActualizacion">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
          </td>
            <mat-card-actions >
                <button mat-raised-button (click)="onSubmit()" color="theme">Guardar</button>
                 &nbsp;
                <button mat-raised-button (click)="cancel()" color="theme">Cancelar</button>

            </mat-card-actions>
            </form>
           </mat-card-content>
    </mat-card>
  </div>
  