
<div  class="form-web" style="height: 5%; top: 0%; width: 100%; overflow: auto" *ngIf="!isSearch">
    <mat-card class="form-fechas" style="height: 5%;top: 0%">
        <mat-card-content class="form-fechas">
      <form   [formGroup]="formSearch" >
        <table><tr>
          <td>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Fecha inicio" readonly type="fechaInicio" formControlName="fechaInicio"  name="fechaInicio" class="form-control" id="fechaInicio">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
         <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha Fin" type="fechaFin" readonly formControlName="fechaFin"  name="fechaFin" class="form-control" id="fechaFin" (blur)="compareTwoDates()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
      <td> &nbsp;
          <button mat-icon-button (click)="onSearch()">
              <span matTooltip="Buscar">
                <mat-icon>youtube_searched_for</mat-icon>
              </span>
            </button>  
      </td>
      </tr></table>
          </form>
         </mat-card-content>
  </mat-card>
</div>

<div  class="form-mobile" style="height: 5%; top: 0%; width: 100%; overflow: auto" *ngIf="!isSearch">
    <mat-card class="form-fechas" style="height: 5%;top: 0%">
        <mat-card-content class="form-fechas">
      <form   [formGroup]="formSearch" >
        <table><tr>
          <td>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1m" placeholder="Fecha inicio" readonly type="fechaInicio" formControlName="fechaInicio"  name="fechaInicio" class="form-control" id="fechaInicio">
          <mat-datepicker-toggle matSuffix [for]="picker1m"></mat-datepicker-toggle>
          <mat-datepicker #picker1m></mat-datepicker>
        </mat-form-field>
      </td>
      </tr>
      <tr>
          <td>
              <mat-form-field>
               <input matInput [matDatepicker]="pickerm" placeholder="Fecha Fin" type="fechaFin" readonly formControlName="fechaFin"  name="fechaFin" class="form-control" id="fechaFin" (blur)="compareTwoDates()">
               <mat-datepicker-toggle matSuffix [for]="pickerm"></mat-datepicker-toggle>
               <mat-datepicker #pickerm></mat-datepicker>
             </mat-form-field>
           </td>
           <td> &nbsp;
               <button mat-icon-button (click)="onSearch()">
                   <span matTooltip="Buscar">
                     <mat-icon>youtube_searched_for</mat-icon>
                   </span>
                 </button>  
           </td>
      </tr></table>
          </form>
         </mat-card-content>
  </mat-card>
</div>
<div *ngIf="error.isError" class="alert alert-danger">
    {{ error.errorMessage }}
 </div>
<div class="mat-elevation-z8" *ngIf="dataSource.data.length " >

    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;" > 
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        
        <!-- idObjeto -->
        
        <!-- Nombre -->
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
            <mat-cell  *matCellDef="let element">
                  <span class="mobile-label">Fecha: </span>
                 {{convertDate(element.fecha)}}
                </mat-cell>
          </ng-container>
          
          <!-- descripcion  -->
          <ng-container matColumnDef="descripcion">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
              <mat-cell *matCellDef="let element">
                  <span class="mobile-label">Descripcion:</span>
                  {{element.descripcion}} 
              </mat-cell>
          </ng-container>
          
             <!-- Estatus -->
             <ng-container matColumnDef="pais">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Pais </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <span class="mobile-label">Pais:</span>
                  {{element.pais}} 
                
                </mat-cell>
              </ng-container>
          
                   <!-- Estatus -->
             <ng-container matColumnDef="latitud">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Latitud</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Latitud:</span>
                   {{element.latitud}}
                  </mat-cell>
              </ng-container>
          
                   <!-- Estatus -->
             <ng-container matColumnDef="longitud">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Longitud </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <span class="mobile-label">Longitud:</span>
                  {{element.longitud}}
                  </mat-cell>
              </ng-container>
          
                         <!-- Estatus -->
             <ng-container matColumnDef="estatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Estatus:</span>
                   {{element.estatus}}
                      </mat-cell>
              </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> <br>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row" style="white-space: nowrap">  
            <span class="mobile-label">Acciones:</span>
            <button mat-icon-button (click)="onActivate()" >
              <span matTooltip="Nueva Busqueda">
                <mat-icon>find_replace</mat-icon>
              </span>
            </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row> 
    </mat-table>
  <mat-paginator [pageSizeOptions]="[1]" showFirstLastButtons></mat-paginator>
<div *ngIf="isSearch" class="container">

    <div id="map">
        <ng-container>
                  <agm-map [latitude]="ConvertString(latitude)" [longitude]="ConvertString(longitude)" [scrollwheel]="false" [zoom]="zoom">
                           <agm-direction 
                           [origin]="origin" [markerOptions]="markerOptions"  [destination]="destination" [markerOptions]="markerOptions" [waypoints]="locationsbuild"></agm-direction>
                  </agm-map>
            
        
        </ng-container>
      </div>
</div>
      

