
<br><br><br><br><br>
<mat-toolbar >
    <div >
      <h2>Lista de Grupos</h2>
      </div>
  </mat-toolbar>
<div class="mat-elevation-z8" *ngIf="dataSource.data.length > 0 else noData" >
    &nbsp;&nbsp;<mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda">
      </mat-form-field>
      <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8"  [class.isMobile]="isMobile" style="width: 100%;" > 


  <ng-container matColumnDef="idGrupo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Identificador Grupo</mat-header-cell>
      <mat-cell *matCellDef="let element">
          <span class="mobile-label">Id:</span>
        {{element.idGrupo}}  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <span class="mobile-label">Descripcion:</span>
        {{element.descripcion}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> <br>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row" style="white-space: nowrap">  
            <span class="mobile-label">Acciones:</span>
          <button mat-icon-button (click)="addGrupo()">
            <span matTooltip="Agregar">
            <mat-icon style="color: rgb(128, 128, 128)">assignment</mat-icon>
            </span>
          </button>  
          <button mat-icon-button (click)="editGrupo(row)">
            <span matTooltip="Editar">
              <mat-icon>mode_edit</mat-icon>
            </span>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<ng-template #noData>
    <div class="mat-elevation-z8 noData" >
        <mat-spinner *ngIf="!isLoading" style="margin: auto">
            
        </mat-spinner>
        <div fxLayout fxLayoutAlign="center center" >
        <h2 *ngIf="!isLoading">Cargando Datos...</h2>
      </div>
      <h2 *ngIf="isLoading ">No hay datos que mostrar</h2>
  </div>
</ng-template>